<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Work sector #<%= @work_sector.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/work_sectors" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link work_sector start -->
      <div class="col">
        <a href="/work_sectors/<%= @work_sector.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit work sector
        </a>
      </div>
      <!-- Edit link work_sector end -->

      <!-- Delete link work_sector start -->
      <div class="col">
        <a href="/delete_work_sector/<%= @work_sector.id %>" class="btn btn-block btn-outline-secondary">
          Delete work sector
        </a>
      </div>
      <!-- Delete link work_sector end -->
    </div>

    <dl>
      <dt>
        Sector name
      </dt>
      <!-- Display sector_name start -->
      <dd>
        <%= @work_sector.sector_name %>
      </dd>
      <!-- Display sector_name end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@work_sector.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@work_sector.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "work_sector_templates/work_sector_people" %>
  </div>
</div>
<!-- Show Page Customization end -->
