<form action="/create_person_from_city" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @person.name %>">
  </div>

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @person.title %>">
  </div>

  <div class="form-group">
    <label for="company_id">
      Company
    </label>

    <%= select_tag(:company_id, options_from_collection_for_select(Company.all, :id, :company_name, @person.company_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="relationship">
      Relationship
    </label>

    <input type="text" id="relationship" name="relationship" class="form-control" value="<%= @person.relationship %>">
  </div>

  <div class="form-group">
    <label for="work_sector_id">
      Work sector
    </label>

    <%= select_tag(:work_sector_id, options_from_collection_for_select(WorkSector.all, :id, :sector_name, @person.work_sector_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="city_id" value="<%= @city.id %>">

  <div class="form-group">
    <label for="email">
      Email
    </label>

    <input type="text" id="email" name="email" class="form-control" value="<%= @person.email %>">
  </div>

  <div class="form-group">
    <label for="phone_number">
      Phone number
    </label>

    <input type="text" id="phone_number" name="phone_number" class="form-control" value="<%= @person.phone_number %>">
  </div>

  <div class="form-group">
    <label for="contacts">
      Contacts
    </label>

    <input type="text" id="contacts" name="contacts" class="form-control" value="<%= @person.contacts %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create person
  </button>
</form>
