<!-- Validation failure messages -->
<% if @outreach.errors.any? %>
  <% @outreach.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit outreach #<%= @outreach.id %>
</h1>

<hr>

<!-- Form outreach start -->
<form action="/update_outreach/<%= @outreach.id %>" method="post">
<!-- Form outreach end -->

  <!-- Label and input for recipient_id start -->
  <div class="form-group">
    <label for="recipient_id">
      Recipient
    </label>

    <!-- Input for recipient_id start -->
    <%= select_tag(:recipient_id, options_from_collection_for_select(Person.all, :id, :name, @outreach.recipient_id), :class => "form-control") %>
    <!-- Input for recipient_id end -->
  </div>
  <!-- Label and input for recipient_id end -->

  <!-- Label and input for notes start -->
  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <!-- Input for notes start -->
    <textarea id="notes" name="notes" class="form-control" rows="3"><%= @outreach.notes %></textarea>
    <!-- Input for notes end -->
  </div>
  <!-- Label and input for notes end -->

  <!-- Label and input for response_tf start -->
  <div class="form-check">
    <input type="hidden" value="0" name="response_tf">
    <!-- Input for response_tf start -->
    <input id="response_tf" class="form-check-input" name="response_tf" type="checkbox" value="1" <%= "checked" if @outreach.response_tf %>>
    <!-- Input for response_tf end -->
    <label for="response_tf" class="form-check-label">
      Response tf
    </label>
  </div>

  <!-- Label and input for outreach_method_id start -->
  <div class="form-group">
    <label for="outreach_method_id">
      Outreach method
    </label>

    <!-- Input for outreach_method_id start -->
    <%= select_tag(:outreach_method_id, options_from_collection_for_select(ContactMethod.all, :id, :method_name, @outreach.outreach_method_id), :class => "form-control") %>
    <!-- Input for outreach_method_id end -->
  </div>
  <!-- Label and input for outreach_method_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update outreach
  </button>
</form>

<hr>

<a href="/outreaches">
  Go back
</a>
