<% if @outreach.present? %>
  <% if @outreach.errors.any? %>
    <% @outreach.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new outreach
</h1>


<hr>

<form action="/create_outreach" method="post">

  <div class="form-group">
    <label for="recipient_id">
      Recipient
    </label>

    <%= select_tag(:recipient_id, options_from_collection_for_select(Person.all, :id, :name, @outreach.recipient_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <textarea id="notes" name="notes" class="form-control" rows="3"><%= @outreach.notes %></textarea>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="response_tf">
    <input id="response_tf" class="form-check-input" name="response_tf" type="checkbox" <%= "checked" if @outreach.response_tf %>>
    <label for="response_tf" class="form-check-label">
      Response tf
    </label>
  </div>

  <div class="form-group">
    <label for="outreach_method_id">
      Outreach method
    </label>

    <%= select_tag(:outreach_method_id, options_from_collection_for_select(ContactMethod.all, :id, :method_name, @outreach.outreach_method_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create outreach
  </button>
</form>

<hr>

<a href="/outreaches">
  Go back
</a>
