<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Outreach #<%= @outreach.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/outreaches" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/outreaches/<%= @outreach.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit outreach
        </a>
      </div>

      <div class="col">
        <a href="/delete_outreach/<%= @outreach.id %>" class="btn btn-block btn-outline-secondary">
          Delete outreach
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Recipient
      </dt>
      <dd>
        <% if @outreach.recipient.present? %>
          <a href="/people/<%= @outreach.recipient_id %>">
            <%= @outreach.recipient.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @outreach.notes %>
      </dd>

      <dt>
        Response tf
      </dt>
      <dd>
        <%= @outreach.response_tf %>
      </dd>

      <dt>
        Outreach method
      </dt>
      <dd>
        <% if @outreach.outreach_method.present? %>
          <a href="/contact_methods/<%= @outreach.outreach_method_id %>">
            <%= @outreach.outreach_method.method_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@outreach.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@outreach.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

