<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Contact method #<%= @contact_method.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/contact_methods" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/contact_methods/<%= @contact_method.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit contact method
        </a>
      </div>

      <div class="col">
        <a href="/delete_contact_method/<%= @contact_method.id %>" class="btn btn-block btn-outline-secondary">
          Delete contact method
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Method name
      </dt>
      <dd>
        <%= @contact_method.method_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@contact_method.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@contact_method.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "contact_method_templates/contact_method_outreaches" %>
  </div>
</div>
