<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All company locations
    </h1>

    <a href="/company_locations/new" class="btn btn-block btn-outline-secondary">
      Add a new company location
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Company
        </th>

        <th>
          City
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @company_locations.each do |company_location| %>
      <tr>
        <!-- Display company_location.id start -->
        <td>
          <%= company_location.id %>
        </td>
        <!-- Display company_location.id end -->

        <!-- Display company_location.company_id start -->
        <td>
          <%= company_location.company_id %>
        </td>
        <!-- Display company_location.company_id end -->

        <!-- Display company_location.city_id start -->
        <td>
          <%= company_location.city_id %>
        </td>
        <!-- Display company_location.city_id end -->

        <!-- Display company_location.created_at start -->
        <td>
          <%= time_ago_in_words(company_location.created_at) %> ago
        </td>
        <!-- Display company_location.created_at end -->

        <!-- Display company_location.updated_at start -->
        <td>
          <%= time_ago_in_words(company_location.updated_at) %> ago
        </td>
        <!-- Display company_location.updated_at end -->

        <td>
          <a href="/company_locations/<%= company_location.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
